/*Okay, an important reminder:  * means everything. Everything has border-box.*/
* {
    box-sizing: border-box;
}

/*So my cursors are visible.*/
body {
    background-color: #4d4b4b;
}

/*Keeps the pictures the pictures centered.*/
#slideshowDivMain {
    max-width: 650px;
    position: relative;
    margin: auto;
}

/*A slideshow doesn't work if they're always all showing.*/
.slide {
    display: none;
}

/*Messing with some of these things can be foolish, but I'm trying to find things to change.*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 10px;
    padding-right: 40px;  /*The padding is helping keep the arrows in position.*/
    padding-left: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s ease;
    border-radius: 0 4px 4px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 4px 0 0 4px;
}

/*I'm omitting the preview hover effect.*/
/*I'm not adding captions*/

.slideNumber {
    color: azure;
    font-size: 18px;  /*I used the inpect element on the page to get the font size and the padding numbers.*/
    padding: 430px 297px;
    position: absolute;
    top: 0;
}

.dot {  /*I haven't gotten them to center, but it's small thing, and I'm going to try to view it as such.  Everything else works as intended.*/
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: cadetblue;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.active,
/*.active is a class which gets added by the JS code*/
.dot:hover {
    background-color: #717171;
}

/*The fading animation*/
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/*Animation Name "fade" which is referenced above, is basically built here.*/
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}